//+-------------------------------------------------------------------------
//
//  TinyKRNL
//
//  Copyright (C) TinyKRNL, 2006
//
//  File:       ntdll.rc
//
//--------------------------------------------------------------------------

#include <winver.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "NT Layer DLL"
#define VER_INTERNALNAME_STR        "ntdll.dll"
#define VER_ORIGINALFILENAME_STR    "ntdll.dll"
#define VER_LANGNEUTRAL

#include "common.ver"

