//+-------------------------------------------------------------------------
//
//  TinyKRNL
//
//  Copyright (C) TinyKRNL, 2006
//
//  File:       partmgr.rc
//
//--------------------------------------------------------------------------

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "Template Driver"
#define VER_INTERNALNAME_STR        "template.sys"
#define VER_ORIGINALFILENAME_STR    "template.sys"
#define VER_LANGNEUTRAL

#include "common.ver"

